.App {

  margin: 0 100px;
}
.send-messages{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 25px;
  border: 1px solid lightslategray;
  background: url(./images/background.jpg) 50% repeat;
  background-size: 100px;
}
.message-class{
  border: 2px solid #000;
  background-color: #92cab4;
  margin: 5px 0;
}
.card{
  margin: 0;
  background-color: #92cab4;
}
.input-class{
  width: 600px;
  margin: 0 10px;
  background: #92cab4;
}
.author{
  font-size: 30px;
  font-weight: bold;
}
.show-msg{
  margin: 5px;
  padding: 25px;
  justify-content: center;
  border: 1px solid lightslategray;
  background: url(./images/background.jpg) 50% repeat;
  background-size: 100px;
  height: 550px;
  overflow-y: scroll;
}
.btn{
  margin-right: 10px;
}